#                        __ _ _      
#  __  ___ __  _ __ ___  / _(_) | ___ 
#  \ \/ / '_ \| '__/ _ \| |_| | |/ _ \
# _ >  <| |_) | | | (_) |  _| | |  __/
#(_)_/\_\ .__/|_|  \___/|_| |_|_|\___|
#       |_|                           


# Autoexec 

nitrogen --restore &
xcompmgr &
xrdb .Xresources &
xrandr --output DisplayPort-1 --off --output DisplayPort-0 --off --output DisplayPort-2 --off --output DVI-D-0 --mode 1920x1080 --pos 0x0 --rotate normal --output HDMI-A-0 --mode 1920x1080 --pos 1920x0 --rotate normal &


