#! /bin/sh
#                        __ _ _
#  __  ___ __  _ __ ___  / _(_) | ___
#  \ \/ / '_ \| '__/ _ \| |_| | |/ _ \
# _ >  <| |_) | | | (_) |  _| | |  __/
#(_)_/\_\ .__/|_|  \___/|_| |_|_|\___|
#       |_|


# Autoexec

nitrogen --restore &
xrdb .Xresources &
xrandr --output DisplayPort-1 --off --output DisplayPort-0 --off --output DisplayPort-2 --off --output DVI-D-0 --mode 1920x1080 --pos 0x0 --rotate normal --output HDMI-A-0 --mode 1920x1080 --pos 1920x0 --rotate normal &
compton&

dte(){
  dte="$(date +"%A, %B %d %Y | 🕒 %H:%M")"
  echo "$dte"
}

mem(){
   mem=`free --si | awk '/Mem/ {printf "%d MB/%d MB\n", $3 / 1000.0, $2 /1000.0 }'`
   echo "$mem"
}

cpu(){
  read cpu a b c previdle rest < /proc/stat
  prevtotal=$((a+b+c+previdle))
  sleep 0.5
  read cpu a b c idle rest < /proc/stat
  total=$((a+b+c+idle))
  cpu=$((100*( (total-prevtotal) - (idle-previdle) ) / (total-prevtotal) ))
  echo "$cpu% CPU"
}

while true; do
     xsetroot -name "$(cpu) | $(mem) | $(dte)"
     sleep 10s    # Update time every ten seconds
done &

