!! Xft (fonts)
Xft.antialias: true

!! URxvt 
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 15 
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 3000 
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.font: xft: DejaVu Sans Mono : size=11
URxvt.boldFont: xft: DejaVu Sans Mono: size=11
!URxvt.font: xft: Unifont : size=12
!URxvt.boldFont: xft: Unifont : size=12



!! CGA 16 Color


! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #555555

! red
*.color1:       #aa0000
*.color9:       #ff5555

! green
*.color2:       #00aa00
*.color10:      #55ff55

! yellow
*.color3:       #aa5500
*.color11:      #ffff55

! blue
*.color4:       #0000aa
*.color12:      #5555ff

! magenta
*.color5:       #aa00aa
*.color13:      #ff55ff

! cyan
*.color6:       #00aaaa
*.color14:      #55ffff

! white
*.color7:       #aaaaaa
*.color15:      #ffffff


!! Massimo Colors


!! special
!*.foreground:   #cccccc
!*.background:   #101010
!*.cursorColor:  #cccccc
!
!! black
!*.color0:       #101010
!*.color8:       #505050
!
!! red
!*.color1:       #e95678
!*.color9:       #e95678
!
!! green
!*.color2:       #09f7a0
!*.color10:      #09f7a0
!
!! yellow
!*.color3:       #fab795
!*.color11:      #fab795
!
!! blue
!*.color4:       #545ba5
!*.color12:      #545ba5
!
!! magenta
!*.color5:       #b877db
!*.color13:      #b877db
!
!! cyan
!*.color6:       #008080
!*.color14:      #008080
!
!! white
!*.color7:       #cccccc
!*.color15: 	 #ffffff