!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 15 
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 3000 
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.font: xft: DejaVu Sans Mono:size=11:antialiasing=false
!URxvt.font: xft:Terminus
!URxvt.boldFont: xft:Terminus

!! Rofi Appearance
rofi.color-enabled: true 
rofi.color-window: #000000, #000000, #000000
rofi.color-normal: #000000, #ffffff, #000000, #ffffff, #000000
rofi.color-active: #000000, #ffffff, #000000, #ffffff, #000000
rofi.color-urgent: #000000, #ffffff, #000000, #ffffff, #000000

!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!~ Comment all:
!~ CTRL+V 35+RETURN SHIFT+i ! ESC+ESC
!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

!! Minecraft Colors (Best Colors)


! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #505050

! red
*.color1:       #FF5555
*.color9:       #FF5555

! green
*.color2:       #55FF55
*.color10:      #55FF55

! yellow
*.color3:       #FFFF55
*.color11:      #FFFF55

! blue
*.color4:       #5555FF
*.color12:      #5555FF

! magenta
*.color5:       #FF55FF
*.color13:      #FF55FF

! cyan
*.color6:       #008080
*.color14:      #008080

! white
*.color7:       #ffffff
*.color15:      #ffffff


!! Massimo Colors


!! special
!*.foreground:   #cccccc
!*.background:   #101010
!*.cursorColor:  #cccccc
!
!! black
!*.color0:       #101010
!*.color8:       #505050
!
!! red
!*.color1:       #e95678
!*.color9:       #e95678
!
!! green
!*.color2:       #09f7a0
!*.color10:      #09f7a0
!
!! yellow
!*.color3:       #fab795
!*.color11:      #fab795
!
!! blue
!*.color4:       #545ba5
!*.color12:      #545ba5
!
!! magenta
!*.color5:       #b877db
!*.color13:      #b877db
!
!! cyan
!*.color6:       #008080
!*.color14:      #008080
!
!! white
!*.color7:       #cccccc
!*.color15: 	 #ffffff


!! Monokai


!! special
!*.foreground:   #f8f8f2
!*.background:   #272822
!*.cursorColor:  #f8f8f2
!
!! black
!*.color0:       #272822
!*.color8:       #75715e
!
!! red
!*.color1:       #f92672
!*.color9:       #f92672
!
!! green
!*.color2:       #a6e22e
!*.color10:      #a6e22e
!
!! yellow
!*.color3:       #f4bf75
!*.color11:      #f4bf75
!
!! blue
!*.color4:       #66d9ef
!*.color12:      #66d9ef
!
!! magenta
!*.color5:       #ae81ff
!*.color13:      #ae81ff
!
!! cyan
!*.color6:       #a1efe4
!*.color14:      #a1efe4
!
!! white
!*.color7:       #f8f8f2
!*.color15:      #f9f8f5



!! Solarized


!! special
!*.foreground:   #93a1a1
!*.background:   #002b36
!*.cursorColor:  #93a1a1
!
!! black
!*.color0:       #002b36
!*.color8:       #657b83
!
!! red
!*.color1:       #dc322f
!*.color9:       #dc322f
!
!! green
!*.color2:       #859900
!*.color10:      #859900
!
!! yellow
!*.color3:       #b58900
!*.color11:      #b58900
!
!! blue
!*.color4:       #268bd2
!*.color12:      #268bd2
!
!! magenta
!*.color5:       #6c71c4
!*.color13:      #6c71c4
!
!! cyan
!*.color6:       #2aa198
!*.color14:      #2aa198
!
!! white
!*.color7:       #93a1a1
!*.color15:      #fdf6e3


!! Tomorrow


!! special
!*.foreground:   #c5c8c6
!*.background:   #1d1f21
!*.cursorColor:  #c5c8c6
!
!! black
!*.color0:       #1d1f21
!*.color8:       #969896
!
!! red
!*.color1:       #cc6666
!*.color9:       #cc6666
!
!! green
!*.color2:       #b5bd68
!*.color10:      #b5bd68
!
!! yellow
!*.color3:       #f0c674
!*.color11:      #f0c674
!
!! blue
!*.color4:       #81a2be
!*.color12:      #81a2be
!
!! magenta
!*.color5:       #b294bb
!*.color13:      #b294bb
!
!! cyan
!*.color6:       #8abeb7
!*.color14:      #8abeb7
!
!! white
!*.color7:       #c5c8c6
!*.color15:      #ffffff



